.page-main {
	&--bright-bg {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.page-main__inner {
	width: 1280px;
	margin: 0 auto;
}

.page-main__container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
