.search__item {
	width: 198px;
	display: block;
	padding: 50px 10px;
	padding-top: 42px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-decoration: none;
	color: #ffffff;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 500;
	border: 3px solid #ffeb3b;
	text-align: center;
}

.search__item span {
	color: #ffeb3b;
	display: block;
}